@import url("../variables.css");

body {
  background-color: var(--color-retroFuture);
  background-image: url("../../assets/img/retroFuture/doodles.svg");
  background-size: 200px;
  background-repeat: repeat;
  background-blend-mode: soft-light;
  transition: all 0.5s ease;
}

.header h1 {
  font-family: var(--font-retroFuture);
}
