@font-face {
    font-family: "graffiti-Basic";
    src: url("../assets/fonts/graffiti/graffitiBasic.otf");
}
@font-face {
    font-family: "graffiti-Selected";
    src: url("../assets/fonts/graffiti/graffitiSelected.otf");
}
@font-face {
    font-family: "pixel-Basic";
    src: url("../assets/fonts/pixel/pixelBasic.ttf");
}
@font-face {
    font-family: "pixel-Selected";
    src: url("../assets/fonts/pixel/pixelSelected.ttf");
}
@font-face {
    font-family: "aero-Basic";
    src: url("../assets/fonts/aero/aeroBasic.otf");
}
@font-face {
    font-family: "aero-Selected";
    src: url("../assets/fonts/aero/aeroSelected.otf");
}
@font-face {
    font-family: "grecia-Basic";
    src: url("../assets/fonts/grecia/greciaBasic.ttf");
}
@font-face {
    font-family: "grecia-Selected";
    src: url("../assets/fonts/grecia/greciaSelected.ttf");
}
@font-face {
    font-family: "comic-Basic";
    src: url("../assets/fonts/comic/comicBasic.otf");
}
@font-face {
    font-family: "comic-Selected";
    src: url("../assets/fonts/comic/comicSelected.otf");
}
@font-face {
    font-family: "eighty-Basic";
    src: url("../assets/fonts/eighty/eightySelected.otf");
}
@font-face {
    font-family: "eighty-Selected";
    src: url("../assets/fonts/eighty/eightySelected.otf");
}
body{
    background-color: #F2F2F2;
    /*background-image: url("../assets/img/background.png");*/
    background-image: url("../assets/img/back2.jpg");
    background-size: cover;
}

#title {
    font-size: 7em;
    color: #000000;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    text-align: center;
    margin-top: 20px;
}
#menu-graffiti{
    font-family: "graffiti-Basic";
}
#menu-graffiti:hover {
    font-family: "graffiti-Selected";
}
#menu-pixel{
    font-family: "pixel-Basic";
}
#menu-pixel:hover {
    font-family: "pixel-Selected";
}
#menu-aero{
    font-family: "aero-Basic";
}
#menu-aero:hover {
    font-family: "aero-Selected";
}
#menu-grecia{
    font-family: "grecia-Basic";
}
#menu-grecia:hover {
    font-family: "grecia-Selected";
}
#menu-comic{
    font-family: "comic-Basic";
}
#menu-comic:hover {
    font-family: "comic-Selected";
}

#menu-eighty{
    font-family: "eighty-Basic";
}
#menu-eighty:hover {
    font-family: "eighty-Selected";
}

.menu{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    justify-content: center;
}
.menu > a > li {
    text-align: center;
    padding: 14px 16px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    width: 20%;
    min-width: 200px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    transition: all 0.3s ease;
}

.menu > a > li:hover {
    transition: all 0.3s ease;
    transform: scale(1.5);
}

.menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
}

.menu-item:hover{
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -2px 0 0 #000, 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, #000 10px 10px 10px;
    transition: all 0.3s ease;
}

.menu-item > li {
    position: relative;
    z-index: 1;
}
.menu-item > li > img {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease;
}
.menu-item:hover img {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 1;
}

.menu > a {
    text-decoration: none;
    color: #000000;
    font-size: 3em;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    row-gap: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

@media (max-width: 600px) {
    .menu {
        grid-template-columns: 1fr;
    }
}

.title-container {
    height: 15em;
}

body:has(#menu-graffiti:hover) #title {
    font-family: "graffiti-Basic";
}
body:has(#menu-pixel:hover) #title {
    font-family: "pixel-Basic";
}
body:has(#menu-aero:hover) #title {
    font-family: "aero-Basic";
}
body:has(#menu-grecia:hover) #title {
    font-family: "grecia-Basic";
}
body:has(#menu-comic:hover) #title {
    font-family: "comic-Basic";
}
body:has(#menu-eighty:hover) #title {
    font-family: "eighty-Basic";
}
