@import url("./variables.css");

@font-face {
    font-family: "symbols";
    src: url("../assets/fonts/title/symbols.ttf");
}

body {
    margin: 0;
    background-color: #fefae0;
    background-image: url("../assets/img/background.svg");
    background-size: 200px;
    background-repeat: repeat;
    background-blend-mode: soft-light;
    transition: all 0.5s ease;
}

#menu-graffiti { font-family: "graffiti"; }
#menu-pixel { font-family: "pixel"; }
#menu-aero { font-family: "aero"; }
#menu-grecia { font-family: "grecia"; }
#menu-comic { font-family: "comic"; }
#menu-eighty { font-family: "eighty"; }
#menu-retroFuture { font-family: "retroFuture"; }
#menu-cyberpunk { font-family: "cyber"; }
#menu-impresionism { font-family: "impressionism"; }
#menu-ukiyoe { font-family: "ukiyoe"; }

#menu-container {
    background: #606c38aa;
    backdrop-filter: blur(30px);
    border-radius: 50px;
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: all 0.5s ease;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 50px;
    justify-items: center;
    align-items: center;
    list-style-type: none;
    margin: 0 5px 50px 5px;
    padding: 0;
}

.menu > li {
    width: 60%;
    min-width: 200px;
    height: 100px;
    padding: 14px 16px;
    text-align: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}

.menu-item {
    font-size: 2.5em;
    color: #000000;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.menu-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 275%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease;
}

.menu > li:hover {
    background-color: #00000020;
    transform: scale(1.20);
    transition: all 0.3s ease;
}

.menu > li:hover > .menu-item {
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -2px 0 0 #000, 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, #000 10px 10px 10px;
    transition: all 0.3s ease;
}

.menu > li:hover > .menu-item img {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 1;
    background-color: #00000000;
}

body:has(.menu > li:hover) #menu-container {
    background-color: #00000040;
    transition: all 0.5s ease;
}

body:has(.menu > li:hover) .title-container {
    background-color: #00000040;
    transition: all 0.5s ease;
}

body:has(#menu-graffiti-li:hover){
    background-image: url("../assets/img/graffiti/doodles.svg");
    background-color: var(--color-graffiti);
    opacity: 1;
}
body:has(#menu-pixel-li:hover) {
    background-image: url("../assets/img/pixel/doodles.svg");
    background-color: var(--color-pixel);
    opacity: 1;
}
body:has(#menu-aero-li:hover) {
    background-image: url("../assets/img/aero/doodles.svg");
    background-color: var(--color-aero);
    opacity: 1;
}
body:has(#menu-grecia-li:hover){
    background-image: url("../assets/img/grecia/doodles.svg");
    background-color: var(--color-grecia);
    opacity: 1;
}
body:has(#menu-comic-li:hover) {
    background-image: url("../assets/img/comic/doodles.svg");
    background-color: var(--color-comic);
    opacity: 1;
}
body:has(#menu-eighty-li:hover) {
    background-image: url("../assets/img/eighty/doodles.svg");
    background-color: var(--color-eighty);
    opacity: 1;
}
body:has(#menu-retroFuture-li:hover) {
    background-image: url("../assets/img/retroFuture/doodles.svg");
    background-color: var(--color-retroFuture);
    opacity: 1;
}
body:has(#menu-cyberpunk-li:hover) {
    background-image: url("../assets/img/cyberpunk/doodles.svg");
    background-color: var(--color-cyberpunk);
    opacity: 1;
}
body:has(#menu-impresionism-li:hover) {
    background-image: url("../assets/img/impresionism/doodles.svg");
    background-color: var(--color-impresionism);
    opacity: 1;
}

body:has(#menu-ukiyoe-li:hover) {
    background-image: url("../assets/img/ukiyoe/doodles.svg");
    background-color: var(--color-ukiyoe);
    opacity: 1;
}

@media (max-width: 770px) {
    .menu {
        grid-template-columns: 1fr;
    }
}
